body {
  margin: 0;
  background: #111;
  font-family: monospace;
  color: #33ff33;
}

/* LOGO */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img {
  width: 180px;
  opacity: 0.9;
}

/* CENTRAR TERMINAL */
.terminal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* PANTALLA */
.screen {
  width: 700px;
  height: 420px;

  background: #000;
  padding: 20px;

  border-radius: 20px / 12px;

  box-shadow:
    0 0 20px rgba(0,255,0,0.2),
    inset 0 0 20px rgba(0,0,0,0.8);

  text-shadow: 0 0 6px #33ff33;

  overflow: hidden;
  position: relative;
}

/* CRT */
.screen::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgba(0,0,0,0.4) 100%
  );
}

.screen::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.05) 0px,
    rgba(255,255,255,0.05) 1px,
    transparent 2px,
    transparent 4px
  );
}

/* TEXTO */
#output {
  height: 90%;
  overflow-y: auto;
}

/* INPUT */
.input-line {
  display: flex;
}

.prompt {
  margin-right: 5px;
}

input {
  background: transparent;
  border: none;
  color: #33ff33;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  width: 100%;
}

/* CURSOR */
.cursor {
  width: 10px;
  height: 18px;
  background: #33ff33;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
